*{
	margin: 0;
	padding: 0;
}
body{
	background-image: green;
	color:green;
}
#contenedor{
	width: 700px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	overflow: hidden;
}
header{
	height: 150px;
	/*background: #000;*/
}
header h1{
	font-size: 50px;
	text-align: center;
	line-height: 150px;
}
nav{
background:#3BA7E1  ;
	height: 60px;
}
nav h2{
	font-size: 40px;
	text-align: center;
	line-height: 60px;
}
/*botone*/

.a{
	font-size: 20px;
    text-decoration: none;
    margin: 10px 50px;
    display: inline-block;
    background: #3BA7E1;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    /*box-shadow: 10px 15px 10px #000;*/
   /* border-radius: 50px;*/
}

.a:hover{
	box-shadow: 0px 2px 0px #000;
	background: #ccc;
}

.a:active{
	box-shadow: none;
}

.contenido{
	width: 1433px;
	height: 1000px;
	float: left;
	/*background:#000;*/
	margin-top: 10px;
	margin-right: 10px
	margin-bottom: 10px;
	text-align: center;
}
.contenido h2{
	font-size: 40px;
	text-align: center;
	line-height: 500px;

}
aside{
	width: 250px;
	height: 900px;
	/*background:green ;*/
	margin-top: 10px;
	float: right;
	/*position:fixed;*/
}
aside h2{
	font-size: 40px;
	text-align: center;
	line-height: 500px;
}
footer{
	clear: both;
	background-image: url(../img/dir.fw.png);
	bottom: 0;

}
footer h2{
	font-size: 100%;
	text-align: center;
	padding: 6%;
	font-style: italic; 
}
/*botones*/
.button{
	font-size: 20px;
    text-decoration: none;
    margin: 10px 50px;
    display: inline-block;
    color:#fff;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 10px 15px 10px #000;
    border-radius: 50px;
}
.button.orange{

}

.button.o{
	
}
.button.b{

}
.button.c{

}

.button:hover{
	box-shadow: 0px 2px 0px #000;
	background: #ccc;
}


.galeria{
	width: 99%;
	margin: auto;
	list-style: none;
	padding: 20px;
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: space-around;

}
.galeria li{
	margin: 50px;
}
.galeria img{
	width: 150px;
	height: 100px;
}

.modal{
	position: fixed;
	background: rgba(0,0,0,0,8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.imagen{
	width: 100%
	height:50%
	display:flex;
}
.imagen{
	color: #fff;
	font-size: 40px;
	text-decoration: none;
	margin: 0 10px;
}
.imagen a:nth-child(2){
margin: 0;
height: 100%
}
.imagen img{
	width: 500px;
	height:100%;
	max-width: 100%;
	border: 7px solid #fff;
	box-sizing: border-box;
}
}

